ipykernel
pandas
numpy 
matplotlib
plotly
seaborn
scikit-learn
pymongo
from_root
dill
certifi
PyYAML
boto3
mypy-boto3-s3
botocore
fastapi
python-multipart
uvicorn
jinja2
imblearn
-e .

arihantaggarwal2003
6hXWhV7slnAINihZ
mongodb+srv://arihantaggarwal2003:<db_password>@cluster0.l34uy.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0